<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "taskcreate" %}">Add Task</a></li>
            </ul>
        </nav>
    </header>

    <div>
        
        {% block content %}
            
        {% endblock content %}
            
    </div>

    <footer>
        &copy;2026 All Rights Reserverd.
    </footer>
</body>
</html>