{% extends "base.html" %}


{% block content %}
    <h1 class="text-center">Welcome to the Event Registration System</h1>
    <p class="text-center">Register for events and manage your participation.</p>
    <h1 class="text-center">Upcoming Events</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Upcoming Events</h5>
            <ul class="list-group list-group-flush">
                {% for event in events %}
                    <li class="list-group-item">
                        <a href="{% url 'event_detail' event.id %}">{{ event.title }}</a> - {{ event.date }}
                    </li>
                {% empty %}
                    <li class="list-group-item">No upcoming events.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

            


{% endblock content %}
    